.form-2-wrapper {
    background: #F8F9FA;
    padding: 50px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

input.form-control {
    padding: 11px;
    border: none;
    border: 2px solid #405c7cb8;
    border-radius: 30px;
    background-color: transparent;
    font-family: Arial, Roboto, sans-serif;
}

input.form-control:focus {
    box-shadow: none !important;
    outline: 0px !important;
    background-color: transparent;
}

button.login-btn {
    background: #4FD1C5;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.register-test a {
    color: #000;
}

.left-side {
    background: url('../assets/authImage.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .left-side {
        display: none;
    }

    .form-2-wrapper {
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }
}